body {
	background-color:#060e50;
}

p,
h1,
h2,
h3 {
	color:#fff;
}

.jumbotron {
	clear:both;
  	background-color:#1c1d20;
	background-image:url(../images/jbt_coral.png);
	margin-top:0px;
   	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	border-bottom:2px #fff solid;
}

.header-photo {
	margin-top:0px;
   	margin-bottom:0px;
}

#header.container {
   	position: relative;
   	padding:0px;
   	margin-top:0px;
   	margin-bottom:0px;
   
}

.learn-more {
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

.content {
	margin:25px auto;
}
	

.chatter {
	border-bottom:2px solid #fff;
}

.tripadvisor {
	background:transparent;
	border:none;
	margin-top:-12px;
}



