* {
	text-decoration:none;
	color:#fff;
}

body {
	background-color:#060e50;
}

.clearfix a {
	text-decoration:none;
}

.jumbotron {
	clear:both;
  	background-color:#1c1d20;
	background-image:url(../images/jbt_coral.png);
	margin-top:0px;
   	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	border-bottom:2px #fff solid;
}

.header-photo {
	margin-top:0px;
   	margin-bottom:0px;
}

#header.container {
   	position: relative;
   	padding:0px;
   	margin-top:0px;
   	margin-bottom:0px;
   
}

.learn-more {
	border-top:2px solid #fff;
}

.learn-more a {
	color:#06F; 
	font-weight:bold;  
	text-transform:uppercase; 
	text-shadow:1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
	}

.learn-more a:hover		{	
	color:#3C9;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase; 
	text-shadow:1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
}

.content {
	margin:25px auto;
}

.tripadvisor {
	background:transparent;
	border:none;
	margin-bottom:30px;
}

#footer {
	border-top:2px solid #fff;
}

.padi-logo {
	margin-bottom:20px;
}

.crs_guide .row {
	border:1px solid white;
	border-radius:5px;
	padding:5px;
	padding-left:20px;
	margin:7px 0px;
}

.crs_guide p,
#skin p {
	text-align:justify;
}

.crs_img {
	margin:7px 0px auto -7px;
}
.crslg_img {
	margin-top:15px;
}

.crs_list li {
	margin-left:40px;
}

.sub {
	font-weight:bold;
	padding-top:30px;
}

.skin_list li {
	margin-left:630px;
}

.skin_list2 li {
	margin-left:40px;
}